html {
  background-color: lightgray;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 3.6rem;
  padding-top: 20px;
}
/*nav bar styling*/
ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  font: normal 12px Verdana;
}

li.bar {
  display: inline-block;
  width: 19%;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

select {
  text-align: center;
  border: none;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}

/*body and main content styling*/
body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}
article {
  padding: 20px;
}

h2 {
  font-family: Verdana, Helvetica, Tahoma, sans-serif;
  font-size: 3em;
  margin-top: 5;
  text-align: center;
}

p {
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  line-height: 2;
}

img {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%;
}

footer {
  font-size: 0.5em;
  position: relative;
  padding-top: 20px;
}

.big {
  float: none;
  display: inline-block;
  width: 30%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
